ENVIRONMENT=development
APP_NAME=BotExpress Messaging Middleware

MESSAGING_PROVIDER=zapi

ZAPI_INSTANCE_ID=
ZAPI_TOKEN=
ZAPI_CLIENT_TOKEN=

EVOLUTION_BASE_URL=
EVOLUTION_INSTANCE_NAME=
EVOLUTION_API_KEY=

BOTEXPRESS_BASE_URL=
BOTEXPRESS_API_KEY=
BOTEXPRESS_BOT_ID=

REQUEST_TIMEOUT=10
